* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(0, 0, 0);
}

 #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  .logo {
    font-size: 32px;
  }
  
  .menu li{
    display: inline-block;
    position: relative;
    color: #EBE114;
  }
  
  .menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EBE114;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  

input[type=checkbox] {
    display: none;
  } 
  

  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* body */

  .artist-album-container {
    color: white;
  }

  #artist-name {
    color: #EBE114;
    font-size: 20px;
    margin-top: 10px;
  }

  .genre-price-year-container {
    color: #c6c3c3;
    display: flex;
    margin-top: 10px;
  }



  #album-year {
    display: none;
  }

  .album-info {
    display: flex;
    align-items: center;
  }

  #track-list {
    color: white;
    background-color: #000000;
    margin-left: 15%;
    letter-spacing: 1px;
    padding: 50px;
  }

  .album-info img {
    width: 700px;
    height: 700px;
  }

  .album-info h2 {
    color: white;
  }

  .related-albums-container p {
    color: white;
  }

  #related-albums {
    display: flex;
    justify-content: start;
    gap: 50px;
    text-align: center;
    margin-top: 50px;
  }

  #related-albums img {
    width: 300px;
    height: 300px;
  }

@media (max-width: 768px) {
    .menu {
       display:none;
       position: absolute;
       background-color:#212123;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
     }
   
     .menu li:hover {
       display: inline-block;
       background-color: #212123;
       transition: 0.3s ease;
     }
   
     .menu li + li {
       margin-top: 12px;
     }
   
     input[type=checkbox]:checked ~ .menu {
       display: block;
     }
   
     .hamburger {
       display: block;
     }
   
     .album-box {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
     }

  #artist-name, #album-name, #album-genre-price, #album-year {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.album-info {
  display: flex;
  justify-content: start;
  flex-direction: column;
}


   }
