* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  background-color: #eae7dc;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #e85a4f;
}


.banner img {
  width: 100%;
  height: auto;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background-color: #8e8d8a;
  border-style: solid;
  border-color: #efefef;
  padding: 20px;
  text-align: center;
  margin: 1%;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  cursor: pointer;
}

.box img {
  max-width: 100%;
  border-radius: 5px;
}

.box h4 {
  background-color: inherit;
  color: white;
  transition: color 0.2s;
}

.box:hover {
  background-color: #eae7dc;
  border-style: 0.5px solid black;
  transform: scale(1.5);
}

.box:hover h4 {
  color: black !important;
}

.hours-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.hours-container img {
  width: 100%;
  height: auto;
}

.hours {
  position: absolute;
  color: black;
  right: 25%;
  background-color: #efefef;
  padding: 50px;
  text-align: center;
  box-shadow: 2px 3px 8px -1px rgba(163, 163, 163, 1);
}

.hours h1 {
  margin-bottom: 30px;
  background-color: #efefef;
}

.hours ul {
  margin-bottom: 10px;
  color: #e85a4f;
  background-color: #efefef;
}

.hours h3 {
  margin-top: 30px;
  background-color: #efefef;
}

footer {
  background-color: #000000 !important;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 768px) {
  
  .box {
    width: 220px;
    transition: background-color 0s, transform 0s;
  }

  .box:hover {
    transform: scale(1);
  }

  .hours-container img {
    display: none;
  }

  .hours-container {
    margin-top: 200px;
    margin-left: 20%;
  }
}

@media (max-width: 480px) {
  .box {
    max-width: 160px;
    font-size: 10px;
  }

  .hours-container img {
    display: none;
  }

  .hours-container {
    margin-top: 300px;
    width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}
