* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    /* background-color: rgb(47, 45, 45); */
    background-color: #Eae7dc;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #E85A4F;
  color: #fff;
}

.nav-links a {
  color: #fff;
  background-color: #E85A4F;
}

.logo {
  font-size: 32px;
  background-color: #E85A4F;
}

.menu {
  background-color: #E85A4F;
}

.menu li{
  display: inline-block;
  position: relative;
  color: #D8C3A5;
  background-color: #E85A4F;
}

.menu li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu li {
  padding: 5px 14px;
}


input[type=checkbox] {
  display: none;
} 


.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}



  .banner img {
    width: 100%;
    height: auto;
}

#container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    background-color: #8E8D8A;
    border-style: solid;
    border-color: #efefef;
    padding: 20px;
    text-align: center;
    margin: 1%;
    transition: background-color 0.2s, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    border-radius: 5px;
}

.box h4 {
    background-color: inherit;
    color: white;
    transition: color 0.2s;
}

.box:hover {
    background-color: #Eae7dc;
    border-style: .5px solid black;
    transform: scale(1.5);
}

.box:hover h4 {
    color: black !important;
}


.hours-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.hours-container img {
    width: 100%;
    height: auto;
}

.hours {
    position: absolute;
    color: black;
    right: 25%;
    background-color: #efefef;
    padding: 50px;
    text-align: center;
    box-shadow: 2px 3px 8px -1px rgba(163, 163, 163, 1);
}

.hours h1 {
    margin-bottom: 30px;
    background-color: #efefef;
}

.hours ul {
    margin-bottom: 10px;
    color: #E85A4F;
    background-color: #efefef;
}

.hours h3 {
    margin-top: 30px;
    background-color: #efefef;
}

input[type=checkbox] {
    display: none;
  } 
  

  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  

  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color: #E85A4F;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color: #E85A4F;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
      background-color: #E85A4F;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .hamburger {
      display: block;
      color: black;
    }

    .box {
      width: 220px;
      transition: background-color 0s, transform 0s;
    }

    .box:hover {
      transform: scale(1);
  }
  

    .hours-container img {
      display: none;
    }

    .hours-container {
      margin-top: 200px;
      margin-left: 20%;
    }
  
  }